*{
  margin: 0;
  padding: 0;
}
.homepage_container{
  width: 100%;
  min-height: 100vh;
  background-image: url(/src/media/homepageback.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_container{
  min-width: 70%;
  min-height: 60vh;
  backdrop-filter: blur(10px) ;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  box-shadow: 0 0px 20px 5px ;
}
.title{
  color: white;
  font-size: 4rem;
  padding: 2rem 2rem 0;
  margin-left: 1rem;
  text-align: center;
}
.tag_line{
  color: white;
  font-size: 2.5rem;
  padding: 0 2rem;
  margin-left: 1rem;
  font-weight: 600;
  text-align: center;
}
.radio_input{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
label{
  color: white;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_input_noti_1{
  margin:1rem 0.5rem 0.5rem;
  color: rgb(245, 208, 0);
  font-size: small;
}

.search_input_noti_2{
  margin:0.5rem 0.5rem 0.5rem;
  color: rgb(245, 0, 0);
  font-size: small;
}

.search_input > input{
  padding: 12px;
  border: none;
  border-radius: 6px;
  width: 15rem;
}
.search_input > input:focus{
  outline-offset: none;
  outline-color: rgb(0, 148, 216);
}

.show_container{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 50px 50px;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_cart_container{
  color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}
.show_cart{
  color: white;
  width: 210px;
  min-height: 400px;
  background-color: rgb(58, 58, 58);
  border-radius: 1rem;
}
.show_image{
  top: 0;
  width: 210px;
  height: 300px;
  margin: 0;
  padding: 0;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.cart_detail{
  max-width: 210px;
  max-height: 100px;
  padding: 0.5rem;
  overflow: hidden;
}

.show_name{
  font-size: 1rem;
  color: rgb(0, 153, 255);
}

.show_summery{
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden ;
  max-width: 210px;
  padding-top: 6px;
  max-height: 30px;
}

.show_rating{
  padding: 6px;
  font-size: 12px;
}